In [1]:
import pandas as pd
import sqlalchemy as sal
from dotenv import load_dotenv
import os
import numpy as np
load_dotenv()

# Create a connection to the database
server_database = os.getenv("SERVER_DATABASE")
engine = sal.create_engine(f'mssql+pyodbc://@{server_database}?trusted_connection=yes&driver=SQL+Server')
conn = engine.connect()

C:\Users\krittaphas.chi\AppData\Local\Temp\ipykernel_5468\836413947.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('../data/patient_list.csv', parse_dates=['first_date'])
df['first_date'] = df['first_date'].dt.strftime('%Y-%m-%d')

# remove person with person_id = 0, BUG
df = df[df['person_id'] != 0]

In [3]:
person_id_list_str = str(df['person_id'].to_list())[1:-1]

In [4]:
person_id_list_1000 = str(df['person_id'][:1000].to_list())[1:-1]

In [5]:
with open('..\sql\exclusion\drug_diag_pair.sql') as file:
    sql_command = file.read()
    file.close()
sql_command = sql_command.replace('insert_list_person_id', person_id_list_str)

result = pd.read_sql(sql_command, conn)
result

,person_id,first_hf_date,first_ckd_date,first_obs_date,glp_start_date,sglt2_start_date
0,569837,2022-04-08,None,None,None,2022-04-08
1,4686081,None,2023-05-28,None,None,2022-11-27
2,3122487,None,2017-08-05,None,None,2020-10-31
3,475287,None,2015-05-09,None,None,2020-07-04
4,1991360,None,2015-03-12,None,None,2022-12-23
...,...,...,...,...,...,...
60504,3194285,None,2020-02-15,None,None,None
60505,1343807,None,2017-06-07,None,None,None
60506,2258582,None,2021-09-13,None,None,None
60507,2810549,None,2020-01-12,None,None,None
60508,2214133,None,2017-01-26,None,None,None

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60509 entries, 0 to 60508
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   person_id         60509 non-null  int64
 1   first_hf_date     14674 non-null  object
 2   first_ckd_date    38744 non-null  object
 3   first_obs_date    20835 non-null  object
 4   glp_start_date    2662 non-null   object
 5   sglt2_start_date  5565 non-null   object
dtypes: int64(1), object(5)
memory usage: 2.8+ MB

In [7]:
result['sglt2_hf'] = result['first_hf_date'] < result['sglt2_start_date']
result['sglt2_ckd'] = result['first_ckd_date'] < result['sglt2_start_date']
result['glp_obs'] = result['first_obs_date'] < result['glp_start_date']

In [8]:
result[result['sglt2_hf']]

,person_id,first_hf_date,first_ckd_date,first_obs_date,glp_start_date,sglt2_start_date,sglt2_hf,sglt2_ckd,glp_obs
5,4407194,2021-05-10,2021-04-01,None,None,2022-07-12,True,True,False
6,4655597,2023-04-11,None,None,None,2023-05-18,True,False,False
14,1849442,2008-08-20,None,None,None,2023-01-04,True,False,False
17,4770429,2023-07-10,None,None,None,2023-08-23,True,False,False
18,1808638,2016-12-07,2015-11-04,2017-07-07,2020-12-15,2021-10-12,True,True,True
...,...,...,...,...,...,...,...,...,...
7121,3237347,2021-01-07,2021-03-03,None,None,2021-02-22,True,False,False
7131,3082631,2010-12-09,2017-07-12,None,2017-11-29,2016-08-24,True,False,False
7133,4121640,2018-09-18,2019-10-28,None,None,2020-10-08,True,True,False
7138,2603711,2008-01-23,2019-02-03,None,None,2018-05-06,True,False,False
7139,2721882,2016-12-28,2015-04-23,2008-12-24,None,2017-01-18,True,True,False

In [9]:
result[['sglt2_hf', 'sglt2_ckd', 'glp_obs']].sum()

sglt2_hf     1457
sglt2_ckd    2870
glp_obs      1546
dtype: int64

In [10]:
df_merged = df.merge(result[['person_id','sglt2_hf', 'sglt2_ckd', 'glp_obs']], on='person_id', how='left')

In [11]:
df_merged

,person_id,diag,lab,drug,first_date,criteria,sglt2_hf,sglt2_ckd,glp_obs
0,377893,0,1,0,2021-05-15,lab,NaN,NaN,NaN
1,378094,1,0,0,2018-12-21,diag,NaN,NaN,NaN
2,378195,1,0,0,2021-02-27,diag,NaN,NaN,NaN
3,378311,1,0,1,2013-07-06,diag++drug,False,False,False
4,378342,1,1,1,2015-08-14,diag+lab+drug,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
171236,4825363,0,0,1,2024-02-17,drug,NaN,NaN,NaN
171237,4825466,0,0,1,2024-02-18,drug,NaN,NaN,NaN
171238,4825638,0,0,1,2024-02-19,drug,NaN,NaN,NaN
171239,4826969,0,0,1,2018-02-14,drug,NaN,NaN,NaN
171240,4827663,0,0,1,2013-07-03,drug,NaN,NaN,NaN

In [12]:
sglt2_hf_pt = df_merged.loc[(df_merged['criteria'] == 'drug') & df_merged['sglt2_hf'], 'person_id'].to_list()
sglt2_ckd_pt = df_merged.loc[(df_merged['criteria'] == 'drug') & df_merged['sglt2_ckd'], 'person_id'].to_list()
glp_obs_pt = df_merged.loc[(df_merged['criteria'] == 'drug') & df_merged['glp_obs'], 'person_id'].to_list()

print("pt. with sglt2_hf: ", len(sglt2_hf_pt))
print("pt. with sglt2_ckd: ", len(sglt2_ckd_pt))
print("pt. with glp_obs: ", len(glp_obs_pt))

# union all the person_id together
all_exclude_pt = list(set(sglt2_hf_pt + sglt2_ckd_pt + glp_obs_pt))

pt. with sglt2_hf:  360
pt. with sglt2_ckd:  372
pt. with glp_obs:  320

In [13]:
len(all_exclude_pt)

921

In [14]:
all_exclude_pt

[3078144,
 4757505,
 1742849,
 2129921,
 657409,
 4413442,
 1433613,
 4229133,
 4796433,
 2639905,
 1196066,
 3278883,
 1118245,
 811047,
 847912,
 3975208,
 2033709,
 3831856,
 1931317,
 2973750,
 2172986,
 3870780,
 2918467,
 3829827,
 4735044,
 2304074,
 2941007,
 1103952,
 3985490,
 2752596,
 4610133,
 3205215,
 4151393,
 786531,
 2025573,
 2605160,
 3602547,
 4300917,
 3763662,
 751736,
 2642043,
 3807357,
 2936959,
 3467392,
 1808516,
 2523269,
 3004549,
 809095,
 2838663,
 2855049,
 3186826,
 3393675,
 4794503,
 1861767,
 1865864,
 2396300,
 1280144,
 3016844,
 2029714,
 3893391,
 3723416,
 4022426,
 3446939,
 526503,
 2513067,
 3686572,
 4765867,
 4495534,
 893102,
 3004592,
 981170,
 1185973,
 1132727,
 3639479,
 3989687,
 700604,
 1267901,
 1775805,
 3733695,
 4774079,
 2429132,
 3674319,
 3858640,
 4724946,
 2050261,
 3928284,
 2185441,
 2986211,
 2044136,
 559340,
 919793,
 4161782,
 1857782,
 3129592,
 1827066,
 4671738,
 4751614,
 4573440,
 3127555,
 3426569,
 2730254,
 3391759,
 3445007,
 729365,
 1306903,
 844057,
 719130,
 2953499,
 710940,
 1032478,
 764191,
 4084015,
 2382128,
 4163891,
 2197812,
 1747256,
 1124665,
 2562362,
 4094267,
 1780028,
 2027837,
 3332410,
 764223,
 4759865,
 2013507,
 1206598,
 1261896,
 1898828,
 3148108,
 801106,
 4694355,
 1198421,
 1845591,
 1030489,
 3035481,
 428383,
 463203,
 1220963,
 1104230,
 999785,
 3072363,
 3090800,
 4721010,
 2568563,
 3408243,
 905591,
 3228028,
 2101629,
 2926973,
 2357632,
 3291520,
 3633537,
 2019713,
 2392452,
 3295620,
 995718,
 1962377,
 889225,
 2558349,
 2609551,
 1612176,
 2171280,
 3959512,
 995734,
 3590550,
 3443096,
 3893660,
 1184158,
 4348323,
 1786275,
 3807655,
 3457449,
 3912106,
 1276332,
 522669,
 1038765,
 4233646,
 3049900,
 3183028,
 3561911,
 2714039,
 3054009,
 1823161,
 3897792,
 3291585,
 2542020,
 2513350,
 1853897,
 549327,
 4813265,
 1339857,
 2617811,
 1542612,
 3021269,
 496085,
 1700311,
 3289558,
 4344282,
 3338720,
 1094119,
 3852776,
 3609068,
 4655597,
 1970671,
 395761,
 1264114,
 4760051,
 4803062,
 1137143,
 1171958,
 3789309,
 1180159,
 4254211,
 4465156,
 4743688,
 3086857,
 3377673,
 2318861,
 2302478,
 934414,
 2062866,
 1133078,
 1901078,
 4733466,
 2744858,
 3265050,
 1008160,
 1878562,
 2906658,
 1514024,
 2349609,
 1243690,
 821803,
 4141610,
 1096239,
 776752,
 987695,
 2912818,
 987701,
 4162105,
 2902586,
 4794940,
 4162109,
 522815,
 3473990,
 2691661,
 2148943,
 2232912,
 1673813,
 4782677,
 1618525,
 4500062,
 2484831,
 834147,
 4610659,
 3021413,
 3789414,
 627303,
 1292909,
 901744,
 3885681,
 2306672,
 4205169,
 742011,
 2869884,
 3648127,
 656000,
 4332168,
 3861129,
 4680337,
 2740882,
 1180307,
 3920530,
 3310231,
 942744,
 4276889,
 4270745,
 3398299,
 1792668,
 1796769,
 909986,
 2957986,
 4180643,
 3791525,
 1047209,
 1839787,
 4180651,
 3898028,
 2036398,
 3988148,
 996022,
 3492543,
 2208450,
 846530,
 3185346,
 948933,
 3109582,
 3222226,
 2366165,
 846552,
 602841,
 1571546,
 2605785,
 4657882,
 2577116,
 4227806,
 824030,
 3226334,
 2964193,
 1346273,
 1417954,
 4672226,
 1387234,
 4246245,
 3388136,
 2343657,
 842474,
 3832555,
 1403630,
 4121330,
 541426,
 4418296,
 3138302,
 883455,
 2867968,
 600834,
 1981187,
 819972,
 1026821,
 4154114,
 1078024,
 2478857,
 742154,
 1227531,
 1639182,
 2753295,
 4633358,
 1096467,
 4252440,
 817945,
 1641241,
 2923291,
 2915100,
 4743965,
 3556125,
 662303,
 2190107,
 1063714,
 3935010,
 3349284,
 858914,
 1231658,
 4608819,
 391988,
 1368888,
 1905466,
 3042106,
 2439996,
 1108797,
 3896126,
 3375931,
 4358978,
 3918660,
 4055881,
 590667,
 2083659,
 4412238,
 916303,
 1147728,
 1577811,
 2564947,
 979797,
 4377431,
 1995613,
 2169696,
 3521380,
 867176,
 858985,
 930665,
 1155947,
 3312493,
 3681135,
 4408178,
 881523,
 891764,
 4246391,
 1325946,
 2562941,
 1538946,
 2376579,
 4174724,
 3822467,
 510854,
 3898246,
 2851718,
 2216841,
 3707784,
 4166533,
 3558285,
 459662,
 3769235,
 1368981,
 2196375,
 2370455,
 1280925,
 2806691,
 2878375,
 3765161,
 2014122,
 1369003,
 1313708,
 4783021,
 2304942,
 1055662,
 2163627,
 4254641,
 4060082,
 2163633,
 881588,
 635826,
 3169198,
 3713968,
 668600,
 2247610,
 768958,
 566215,
 439240,
 2331594,
 4709323,
 2747344,
 3220433,
 1131476,
 1280980,
 2636759,
 2429911,
 1559513,
 2829271,
 1070043,
 2409439,
 3087334,
 869351,
 4752363,
 3386348,
 2489325,
 1268727,
 4813815,
 1985531,
 2309126,
 1172487,
 3050505,
 887821,
 1192973,
 4783126,
 2511895,
 3533853,
 2866208,
 2868256,
 4006952,
 2673704,
 4779050,
 4275250,
 2227252,
 4791349,
 691255,
 1885239,
 560193,
 3408961,
 1223747,
 4377667,
 1102917,
 4623436,
 2243661,
 3193936,
 4686929,
 2561107,
 1895508,
 973907,
 2042966,
 3726423,
 509015,
 4766812,
 1879135,
 1205344,
 3193951,
 4402271,
 1283171,
 4357221,
 2649194,
 2817131,
 2432109,
 1574002,
 2215026,
 4555895,
 3484796,
 4686974,
 3431551,
 3198079,
 2157697,
 4727935,
 4295811,
 2135171,
 1752203,
 658573,
 824462,
 4164754,
 3292307,
 1105042,
 3325077,
 4674711,
 1406105,
 3058844,
 3513501,
 3312797,
 926883,
 1340579,
 613546,
 2940078,
 2983088,
 3161269,
 4297910,
 1344697,
 4664506,
 3112125,
 1086658,
 3312838,
 2557135,
 1019098,
 3808475,
 2409692,
 2100447,
 849120,
 2454751,
 3910897,
 701687,
 660728,
 3609850,
 1770749,
 904448,
 3556608,
 4211971,
 2532612,
 1201413,
 3923204,
 3034371,
 1621257,
 3333386,
 4674825,
 2157836,
 2583820,
 1658126,
 1135886,
 4416781,
 1393942,
 3233048,
 447769,
 1041697,
 4353314,
 4345123,
 4748586,
 2460971,
 498986,
 3427630,
 4666674,
 564531,
 3398964,
 4336948,
 4113718,
 3753271,
 2469174,
 1502521,
 4150586,
 1064251,
 2379067,
 974142,
 1449279,
 2409794,
 617795,
 3437891,
 2911557,
 496965,
 2258246,
 3353924,
 3917125,
 1551690,
 1647948,
 3544398,
 3741007,
 937297,
 2710865,
 3331410,
 408916,
 3413333,
 2049367,
 435547,
 3239260,
 3661150,
 4423009,
 666978,
 2559330,
 1697122,
 3003761,
 1820023,
 1662329,
 4715897,
 3161470,
 3749248,
 2440577,
 1074566,
 2315658,
 1127821,
 3485072,
 4765076,
 2035093,
 445847,
 2545048,
 4048283,
 3937692,
 2651442,
 3061159,
 3831209,
 2655658,
 2655660,
 4779440,
 3542448,
 1486260,
 1215932,
 2463166,
 642495,
 2809281,
 1471938,
 4324805,
 2913735,
 4617676,
 1447373,
 3091918,
 1336781,
 2627024,
 1709521,
 1279442,
 673235,
 2407886,
 638421,
 3130838,
 2704850,
 1455579,
 3587547,
 804325,
 1498598,
 4222443,
 1736176,
 3386864,
 3415538,
 2549233,
 2932213,
 4388346,
 3266045,
 1459713,
 4724226,
 4017666,
 448004,
 982532,
 4228611,
 783881,
 3993098,
 2946573,
 2688526,
 1240591,
 2704909,
 3499536,
 2311699,
 4036117,
 3139094,
 1676825,
 1218074,
 4197922,
 3573287,
 3337768,
 1560111,
 1211952,
 4664884,
 3909176,
 4812350,
 3608128,
 982604,
 1490510,
 4087374,
 4118094,
 3321425,
 716370,
 2078292,
 1861207,
 2401880,
 3235415,
 3249756,
 1082975,
 3849823,
 2901601,
 2719330,
 2483811,
 1625699,
 919145,
 3262057,
 3026543,
 554607,
 3499635,
 560756,
 4281974,
 935546,
 650876,
 4417149,
 2682493,
 3075713,
 2694786,
 2158209,
 2569862,
 1674889,
 583309,
 3737229,
 2287247,
 2582160,
 3546769,
 3280528,
 4210324,
 4402839,
 3718809,
 2641564,
 1117853,
 2977437,
 796319,
 1547937,
 767653,
 2629286,
 644776,
 1334952,
 2647722,
 1894062,
 3497647,
 3487408,
 3970741,
 994997,
 4204215,
 2238136,
 1560249,
 2018997,
 4093627,
 806588,
 2537148,
 4734657,
 575172,
 1726152,
 4720329,
 2602699,
 663246,
 2911952,
 4679383,
 3741403,
 1578715,
 2121438,
 949983,
 1396447,
 1693406,
 3606242,
 3725022,
 2430692,
 1070822,
 995047,
 3399400,
 3944169,
 2176746,
 2043627,
 1754860,
 1023725,
 1038060,
 4159214,
 493296,
 4779759,
 2277098,
 4032250,
 4796155,
 4691713,
 1212165,
 4779781,
 1767175,
 1701641,
 737036,
 4155149,
 3335956,
 769816,
 724761,
 2539290,
 3170073,
 2330396,
 4419357,
 3895065,
 440095,
 1023776,
 2719520,
 4722465,
 1371941,
 4499238,
 3315494,
 2717480,
 1126185,
 4771627,
 4087597,
 4402993,
 2459442,
 1589042,
 1613617,
 4624182,
 2219832,
 4710209,
 2629443,
 3696451,
 2940742,
 3512136,
 3876684,
 3782476,
 4611922,
 3776341,
 2082646,
 943960,
 2942809,
 3018585,
 2420729,
 4233055,
 1912674,
 4011877,
 1929063,
 534376,
 3084136,
 3237741,
 577389,
 3260273,
 937848,
 1951612,
 3026813,
 4341629,
 1138560,
 4173698,
 1824644,
 3166084,
 427911,
 935817,
 3221386,
 1314703,
 3092372,
 1406869,
 1030040,
 3377048,
 4407194,
 4024221,
 3080094,
 3618719,
 884640,
 2031521,
 2738082,
 489377,
 4089764,
 2256805,
 2545573,
 706471,
 4376489,
 2473900,
 655277,
 1204141,
 3131311,
 3180464,
 2570162,
 3930034,
 1720244,
 1550262,
 3059641,
 2906042,
 425913,
 2705340,
 657338,
 956349,
 978879,
 3346364,
 1769409,
 4749249,
 3647421,
 489413,
 591821,
 2359246,
 1216462,
 2930640,
 1564625,
 2054097,
 2611155,
 4104147,
 2553809,
 4011990,
 3891159,
 3975128,
 1900502,
 587740,
 1775581,
 4698078,
 2535391,
 1501152,
 3889119,
 2240486,
 4378602,
 4044779,
 1970156,
 3274733,
 3399661,
 3297263,
 407535,
 4698098,
 1652722,
 1626100,
 2504691,
 4044789,
 4757497,
 4734970,
 2002939,
 4190204,
 806911]